<div class="p-5">
    <!-- Styling -->
    <!-- <app-styling/> -->

    <!--Component interaction-->
    <!-- <app-interaction/> -->

    <!-- Lifecycles hooks -->
    <!-- <app-lifecycles data="test"/> -->
    <!-- <app-on-changes/> -->
    <!-- <app-do-check/> -->
    <!-- <app-after-content>
        <app-child-after-content/>
    </app-after-content> -->
    <!-- <app-after-view/> -->
    <!-- <app-on-destroy/> -->

    <!-- Change detection -->
    <!-- <app-change-detection/> -->

    <!-- Dynamic components -->
    <!-- <app-dynamic/> -->
</div>
